<?xml version="1.0"?>
<plugin>
	<extension id="de.tudresden.inf.lat.born.protege.BornProtegeReasonerFactory" point="org.protege.editor.owl.inference_reasonerfactory">
		<name value="BORN"/>
		<class value="de.tudresden.inf.lat.born.protege.BornProtegeReasonerFactory"/>
	</extension>
	<extension id="BornMain" point="org.protege.editor.core.application.ViewComponent">
		<label value="BORN"/>
		<class value="de.tudresden.inf.lat.born.protege.Main"/>
		<headerColor value="@org.protege.classcolor"/>
		<category value="@org.protege.classcategory"/>
	</extension>
	<extension id="BornTab" point="org.protege.editor.core.application.WorkspaceTab">
		<label value="BORN"/>
		<class value="org.protege.editor.core.ui.workspace.WorkspaceViewsTab"/>
		<defaultViewConfigFileName value="viewconfig-tab.xml"/>
		<index value="A"/>
		<editorKitId value="OWLEditorKit"/>
	</extension>
</plugin>
